<!doctype html>
<html class="no-js" lang="UTF-8">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mishy's Building </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

    <script src="https://code.jquery.com/jquery-{{JQUERY_VERSION}}.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        <!-- JS on the page -->
    </script>
</body>

</html>
